<template>
  <div id="app" class="container">
    <div class="row">
      <div class="col-md-4" v-for="photo in gallery.slice(0,displayLimit)" >
        <div class="card" v-bind:class="{ open:selected == photo.id }"  @mouseover="selected = photo.id" @mouseleave="selected = undefined">
          <img class="card-img-top" :src="photo.url" :alt="photo.title">
          <div class="card-body">
            <p class="card-text">{{photo.title}}</p>
            <a href="#" class="btn btn-secondary">View full size</a>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center"><button v-on:click="displayLimit += 3" class="btn btn-primary" id="more">Load more&hellip;</button></p>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: 'app',
  data () {
    return {
      displayLimit: 3,
      gallery: {},
      selected: undefined,
    }
  },
  mounted() {
    const allPhotos = "http://jsonplaceholder.typicode.com/photos/"
    axios({ method: "GET", "url": allPhotos }).then(result => {
      console.log(result.data);
      this.gallery = result.data
    }, error => {
      console.error(error);
    });
  }
}
</script>

<style lang="scss">

body {
  background-color: rgb(245,247,250);
  padding-top: 10vh;
}

.card {
  border-radius: 0;
  height: 300px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  .card-img-top {
    height: 280px;
    transition: all 500ms;
    clip-path: polygon(
    0 0,
    0 100%,
    100% 94%,
    100% 0
    );
    /*
    NOTE: To ensure exactly 2.5 degree slice I should have used pseudo element with:
      transform: skewY(-2.5deg);
      transform-origin: 100%;
    */
  }
  .card-body {
    background: white;
    text-transform: capitalize;
  }
  &.open {
    .card-img-top {
      // position: relative;
      margin-top: -160px;
      transition: all 500ms;
      clip-path: polygon(
      0 0,
      0 94%,
      100% 100%,
      100% 0
      );
    }
  }
}

</style>
